<div ng-class="column" ng-show="showForm">
    <form name="form" novalidate ng-submit="form.$valid && save(entity)">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ title }}
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="close(form)">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <input type="hidden" name="_token" value="{{ token }}"/>
                <div class="form-group" ng-class="{'has-error': form.fale_conosco_assunto_id.$touched && form.fale_conosco_assunto_id.$error.required }">
                    <label for="fale_conosco_assunto_id">
                        <i ng-class="{'fa fa-times-circle-o': form.fale_conosco_assunto_id.$touched && form.fale_conosco_assunto_id.$error.required}"></i>
                        Assunto: <i class="fa" ng-class="entity.fale_conosco_assunto_id"></i> 
                    </label>
                    <select name="fale_conosco_assunto_id" class="form-control" ng-options="item.id as item.titulo for item in assuntos" ng-model="entity.fale_conosco_assunto_id" required disabled="true" >
                        <option value="">Selecionar Assunto</option>
                    </select>
                    <div class="help-block" ng-show="form.$submitted || form.fale_conosco_assunto_id.$touched">
                        <div ng-show="form.fale_conosco_assunto_id.$error.required">
                            <i class="fa fa-exclamation-circle"></i> O campo Assunto é obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.nome.$touched && form.nome.$error.required }">
                    <label for="nome">
                        <i ng-class="{'fa fa-times-circle-o': form.nome.$touched && form.nome.$error.required }"></i>
                        Nome:
                    </label>
                    <input type="text" name="nome" class="form-control" ng-model="entity.nome" required readonly="true"/>
                    <div class="help-block" ng-show="form.$submitted || form.nome.$touched">
                        <div ng-show="form.nome.$error.required">
                            <i class="fa fa-exclamation-circle"></i> O campo Nome é obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.telefone.$touched && form.telefone.$error.required }">
                    <label for="telefone">
                        <i ng-class="{'fa fa-times-circle-o': form.telefone.$touched && form.telefone.$error.required }"></i>
                        Telefone:
                    </label>
                    <input type="text" name="telefone" class="form-control" ng-model="entity.telefone" telefone required readonly="true"/>
                    <div class="help-block" ng-show="form.$submitted || form.telefone.$touched">
                        <div ng-show="form.telefone.$error.required">
                            <i class="fa fa-exclamation-circle"></i> O campo Telefone é obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.email.$touched && form.email.$error.required }">
                    <label for="email">
                        <i ng-class="{'fa fa-times-circle-o': form.email.$touched && form.email.$error.required }"></i>
                        E-mail:
                    </label>
                    <input type="email" name="email" class="form-control" ng-model="entity.email" required required readonly="true"/>
                    <div class="help-block" ng-show="form.$submitted || form.email.$touched">
                        <div ng-show="form.email.$error.required">
                            <i class="fa fa-exclamation-circle"></i> O campo E-mail é obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.mensagem.$touched && form.mensagem.$error.required}">
                    <label for="mensagem">
                        <i ng-class="{'fa fa-times-circle-o': form.mensagem.$touched && form.mensagem.$error.required}"></i> 
                        Mensagem:
                    </label>
                    <textarea name="mensagem" class="form-control" maxlength="133" rows="3" ng-model="entity.mensagem" required readonly="true"></textarea>
                    <div class="help-block" ng-show="form.$submitted || form.mensagem.$touched">
                        <div ng-show="form.mensagem.$error.required">
                            <i class="fa fa-exclamation-circle"></i> O campo Mensagem é obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.resposta.$touched && form.resposta.$error.required}">
                    <label for="resposta">
                        <i ng-class="{'fa fa-times-circle-o': form.resposta.$touched && form.resposta.$error.required}"></i>
                        Resposta:
                    </label>
                    <textarea name="resposta" class="form-control" maxlength="133" rows="10" ng-model="entity.resposta" required></textarea>
                    <div class="help-block" ng-show="form.$submitted || form.resposta.$touched">
                        <div ng-show="form.resposta.$error.required">
                            <i class="fa fa-exclamation-circle"></i> O campo Resposta é obrigatório
                        </div>
                    </div>
                </div>
                <input type="hidden" name="status" value="2" />
            </div>
            <div class="overlay" ng-show="loadForm">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary btn-flat" >
                    <i class="fa fa-check"></i>
                    Salvar Registro
                </button>
                <button class="btn btn-warning btn-flat" ng-click="cancel(form)">
                    <i class="fa fa-eraser"></i>
                    Limpar Formulário
                </button>
                <button class="btn btn-default btn-flat" ng-click="close(form)">
                    <i class="fa fa-close"></i>
                    Cancelar Edição
                </button>
            </div>
        </div>
    </form>
</div>